<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Internal Ship"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternalShip"
        tools:targetApi="31">
        <activity
            android:name=".iu.opciones.cirugia.obs.Cirugia_OBS_Add"
            android:windowSoftInputMode="adjustPan" /> <!-- android:windowSoftInputMode="adjustPan" AUTO AJUSTABLE -->
        <activity
            android:name=".FullScreenImage"
            android:exported="false" />
        <activity
            android:name=".Cirugia_Imagen_Add"
            android:exported="false" />
        <activity
            android:name=".Cirugia_Imagenes"
            android:exported="false" />
        <activity
            android:name=".iu.opciones.cirugia.hcirugia.Cirugia_HCirugia"
            android:exported="false" />
        <activity
            android:name=".iu.opciones.cirugia.tshock.Cirugia_TSHOCK"
            android:exported="false" />
        <activity
            android:name=".iu.opciones.cirugia.uci.Cirugia_UCI"
            android:exported="false" />
        <activity
            android:name=".iu.opciones.cirugia.obs.Cirugia_OBS"
            android:windowSoftInputMode="adjustPan" /> <!-- android:windowSoftInputMode="adjustPan" AUTO AJUSTABLE -->
        <activity
            android:name=".iu.opciones.cirugia.Cirugia_Add"
            android:windowSoftInputMode="adjustPan" /> <!-- android:windowSoftInputMode="adjustPan" AUTO AJUSTABLE -->
        <activity
            android:name=".iu.opciones.cirugia.Cirugia_Detalle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".iu.opciones.cirugia.Cirugia_Main"
            android:exported="false" />
        <activity
            android:name=".iu.menu.terminos.Menu_Terminos_Condiciones"
            android:exported="false" />
        <activity
            android:name=".iu.menu.calendario.Menu_Agenda_Detalle"
            android:exported="false" />
        <activity
            android:name=".iu.menu.calendario.Menu_Agenda_Add"
            android:exported="false" />
        <activity
            android:name=".iu.menu.calendario.Menu_Agenda"
            android:exported="false" />
        <activity
            android:name=".iu.menu.notas.Menu_Notas_Detalle"
            android:exported="false" />
        <activity
            android:name=".iu.menu.notas.Menu_Notas_Add"
            android:exported="false" />
        <activity
            android:name=".iu.menu.notas.Menu_Notas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>